.header__lang-link {
    text-decoration: none;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    color: #FFF;
    max-width: 100%;
    margin: 18px 0 6px 18px;
}

.header__lang-link:first-child {
    margin-left: 0;
}

.header__lang-link:hover, .header__lang-link:active {
    opacity: .5;
    transition: .7s ease;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 1.11;
        margin: 14px 0 8px 18px;
    }
}