.place__title {
    margin: 80px 0 0;
    max-width: 460px;
    min-width: 288px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: #FFFFFF;
    grid-area: title;
    display: flex;
    flex-direction: column-reverse;
}

.place__title_margin {
    margin-top: 92px;
}