.cover__background {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    text-decoration: none;
    padding: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    aspect-ratio: 16/10;
    z-index: 0;
  }

  .cover__background::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2A2C2F;
    opacity: .3;
    transition: .7 ease;
  }

  .cover__background:hover::before {
    opacity: .8;
  }