.place__url-heading {
    max-width: 456px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    color: #AAA;
    margin: 0 0 12px 0;
}

@media screen and (max-width: 1023px) {
    .place__url-heading {
        line-height: 1;
    }
}